@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');


/*position: sticky; -> es similar al fixed, lo toma desde la posicion en la que se encuentre*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
html{
    background-color: rgba(172, 172, 172 ,0.3);
    font-family: 'Roboto Condensed', sans-serif;
}
/*Header de la pagina como tal*/
.header{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 360px;
    background: url(img/wave.svg) no-repeat;
}
.nombres, .apellidos{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    font-weight: bold;
    transition: all 300ms ease 0ms;
}
.apellidos{
    color: rgba(5, 0, 105, 0.9);
}
.titulo-principal{
    font-size: 40px;
    color:#313034 ; /*#484751*/
}
.titulo-txt{
    font-size: 30px;
    color:#313034 ; /*#484751*/
}
.parrafos-txt, .parrafos-txt2{
    font-size: 20px;
    color:#484751 ;
}
.parrafos-txt2{
    font-size: 18px;
}
.contenido-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 90%;
}
.contenedor-img, .contenedor-nombre{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 300px;
}
.contenedor-nombre{
    align-items: center;
    justify-content: center;
}
.contenedor-img{
    margin-top: 120px;
    align-items: center;
    justify-content: end;
}
.img-perfil{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    cursor: pointer;
    background: url(img/yo.jpg) no-repeat center / cover;
    box-shadow: 2px 3px rgba(0,0,0,0.1);
    transition: box-shadow .5s;
    transition: all 300ms ease 0ms;
}
.separador, .separador-dos{
    display: none;
    margin: 5px 0;
    width: 40%;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.separador-dos{
    display: inline;
}
.img-perfil:hover{
    box-shadow: 2.5px 3.5px rgba(0,0,0,0.2);
}
/*Boton flotante de github con link*/
.btn-gh{
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: all 300ms ease 0ms;
    z-index: 99;
}
.btn-gh:hover{
    transform: translateY(-6px);
}
.btn-gh img{
    width: 50px; 
    height: 50px;
}
/*Cuerpo de la pagina*/
.contenedor-descripcion, .contenedor-others, .contenedor-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    width: 100%;
    height: auto;
}
.contenedor-others{
    margin-top: 70px;
}
.contenedor-info{
    display: flex;
    margin-top: 10px;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 200px;
}
.tecnologias{
    width: 90%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forma{
    background-color: black;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transition: all 300ms ease 0ms;
}
.forma:hover{
    width: 180px;
    height: 180px;
    transform: rotate(0deg);
    border-radius: 20px;
}
.contenedor-tcg, .contenedor-tcg2{
    display: flex;
    width: 50%;
    height: 100px;
    justify-content: space-evenly;
    transition: all .6s ease 0ms;
}
.contenedor-tcg2{
    width: 70%;
    height: 150px;
}
.footer{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    background: rgba(172, 172, 172 ,0.3);
    height: 150px;
}
.back-name{
    height: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
}
.personal-info{
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0px solid gray;
}
.personal-info p:hover{
    color: rgba(5, 64, 162, 0.8);
    cursor: pointer;
    border-bottom: 1px solid rgba(5, 64, 162, 0.8);
    transition: all .3s ease 0ms;
}
.ficha-informativa{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}
.img-infov{
    border-radius: 20px;
    height: 500px;
    width: 500px;
    box-shadow: 2px 3px rgba(0,0,0,0.1);
    background: url("https://images.unsplash.com/photo-1544652478-6653e09f18a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80") center;
}
.texto-infov{
    display: flex;
    height: 300px;
    width: 50%;
    padding: 20px;
    background-color: white;
    margin-left: -90px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border-right: 1.5px solid rgba(36, 20, 201, 0.5);
    border-bottom: 1.5px solid rgba(36, 20, 201, 0.5);
    transition: all .6s ease 0ms;
}
@media (max-width: 600px){
    .header{
        height: 400px;
    }
    .contenido-header{
        flex-direction: column-reverse;
    }
    .img-perfil{
        width: 200px;
        height: 200px;
    }
    .contenedor-img{
        margin-top: 170px;
    }
    .contenedor-nombre{
        margin-top: 20px;
        width: 100%;
    }
    .nombres, .apellidos{
        font-size: 40px;
    }
    .separador{
        display: block;
    }
    .btn-gh {
        padding: 6px 10px;
        bottom: 10px;
        right: 10px;
    }
    .btn-gh img{
        width: 35px; 
        height: 35px;
    }
    .description{
        width: 70%;
    }
    .tecnologias{
        width: 95%;
    }
    .img-infov{
        height: 150px;
        width: 90%;
        border-radius: 20px 20px 0 0;
        box-shadow: 0 rgba(0,0,0,0.1);
    }
    .texto-infov{
        height: auto;
        width: 90%;
        margin-left: 0px;
        border-radius: 0 0 20px 20px;
        box-shadow: 2px 3px rgba(0,0,0,0.1);
        border: 0;
    }
    .contenedor-tcg2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 200px;
    }
    .contenedor-tcg{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 170px;
    }
    .ficha-informativa{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .titulo-principal{
        font-size: 38px;
    }
    .titulo-txt{
        font-size: 26px;
        text-align: center;
    }
}